body{
    margin: 0%;
}

#topbar{
    color: white;
    background-color: rgb(255, 129, 25);
    padding: 20px;
    position: sticky;
    top: 0%;
}

.name{
    color: rgb(101, 31, 231);
    font-family: 'Lilita One', cursive;
    font-size: 30px;
}

.menu-item{
    font-family: 'Lilita One', cursive;
    padding: 10px;
}

.divart{
    font-size: 28px;
}

#article-wrapper{
    padding: 4% 16%;
}

article{
    padding: 18px;
    margin-top: 50px;
    margin-bottom: 36px;
    font-size: 24px;
    line-height: 1.4;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 5px 10px gray;
}

.article-pic{
    width: 300px;
    height: 300px;
    float: left;
    margin-right: 10px;
}

.heading{
    font-size: 36px;
    text-align: center;
    font-family: 'Lilita One', cursive;
}

article p {
    background-color: aqua;
}
