body{
   margin: 0%;
   background-size:cover;
   text-align: center;
   font: 1em sans-serif;
}

.top{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    color:white;
    background-image: url(img/area.jpg);
}

#visit{
    border: 1px solid black;
    background-color: rgb(20, 83, 62);
    margin: 5% auto;
    margin-bottom: 20px;
    padding: 5px 10px;
}

#par{
    background-color: rgb(7, 28, 48);
    margin-top: 0%;
    padding: 5px 10px;
    
}

.activities{
    display: block;
    width: 100%;
    align-items: center;
    background-color: rgb(208, 246, 253);

}

#head{
    padding-top: 20px;
}

.description{
    display: flex;
    justify-content: space-around;
}


.images{
    width: 200px;
    border-radius: 50%;
}

.heading-info{
    display: flex;
    justify-content: space-around;
}

.par-info{
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
}



.tour, .me{
    display: flex;
    justify-content: center;
    align-items: center;


    margin-top: 70px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: 30px;
    border-radius: 5px;
    border-bottom: 10px solid rgb(83, 199, 6);
    background-color: rgb(139, 219, 233);
}
.my-image{
    width: 200px;
    height: 250px;
    border-radius: 10px;
    margin: 10px;
}

.guide{
    display: block;
    padding: 20px;
}

.flex-container{
    display: flex;
    justify-content: space-between;
    margin: 70px;
    padding: 30px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
}
