body{
   margin: 0%;
   text-align: center;
   font: 1em sans-serif;
   background-image: url(img/paris.jpg);
}

.top{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:white;
    background-image: url(img/area.jpg);
    height: 400px;
}

#visit{
    border-radius: 20px;
    background-color: rgb(20, 83, 62);
    margin-top: 8%;
    padding: 20px 30px;
}

#par{
    border: none;
    border-radius: 20px;
    background-color: rgb(7, 28, 48);
    margin-top: 0%;
    padding: 20px 30px;
    font-weight: bolder;
}

.activities{
    display: block;
    width: 100%;
    align-items: center;
    background-color: rgb(208, 246, 253);

}

#head{
    padding-top: 20px;
}

.description{
    display: flex;
    justify-content: space-around;
}


.images{
    width: 200px;
    border-radius: 50%;
}

.heading-info{
    display: flex;
    justify-content: space-around;
}

.par-info{
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
}



.tour, .me{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: 30px;
    border-radius: 5px;
    border-bottom: 10px solid rgb(9, 5, 73);
    background-color: rgb(139, 219, 233);
}
.my-image{
    width: 200px;
    height: 250px;
    border-radius: 10px;
    margin: 10px;
}

.guide{
    display: block;
    padding: 20px;
}

.flex-container{
    display: flex;
    justify-content: space-between;
    margin: 70px;
    padding: 30px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
}
