
body {
    margin: 10%;
    text-align: center;
    font: 1em sans-serif;
    background-color: rgb(3, 18, 37);
}

.card {
    width: 800px;
    display: flex;
    justify-content: space-around;
    margin: auto;
    border-radius: 10px;
    padding: 20px;
    color: #160652;
    background-color: rgb(196, 226, 243);
    background: linear-gradient( rgb(130, 206, 250), rgb(228, 240, 252));
    
}

.avatar {
    display: flex;
    align-items: center;
    background-image: url(img/profile.jpg);
    background-size: cover;
    width: 300px;
    border: 1px solid rgb(250, 161, 27);
    border-radius: 70px;
}    


.avatar:hover {
    background-image:url("img/wagon.jpg");
    background-size: cover;
    width: 300px;
    transition: 800ms;
}  

.details {
    display: block;
}

.text{
    text-align: start;
    margin: 30px 0;
   
}

.border{
    border-bottom: 5px solid rgb(250, 152, 106);
}

#location:hover{
    text-shadow: 7px 7px 15px #160652; 
    font-size: 20px;
    display: flex;
   
}

#role:hover{
    display: block;
    font-style: italic;
    font-size: 25px;
    color: #fc6805;
    
}

#role{
    text-decoration: underline;
}
